<div class="add_modal" id="add_modal" style="display: none">
    <input type="text" class="form-control utm_params_input" placeholder="请输入名称" id="add_modal_text" style="width: 150px;display:none">
    <input type="text" class="form-control utm_params_input" placeholder="请输入标识" id="add_modal_sign" style="width: 150px;">
    <button class='btn btn-xs btn-primary' onclick="add_modal()" id="add_modal_btn">添加</button>
</div>
<div style="padding: 0 20px;">
  <div class="utm-params text-center">
    <div class="row text-left" style="margin-top:50px;color:#777">
      <div class="col-md-2 col-md-offset-3">广告系列来源(utm_source):</div>
      <div class="col-md-1"><select id="source_type"></select></div>
      <div class="col-md-5">
        <select id="source_container"></select>
        <div class="col-md-offset-1" style="position: absolute">
          <button onclick="addCSource()" class='btn btn-xs btn-primary' id="newAdd" style="display: none">新增</button>
        </div>
      </div>

    </div>
    <div class="row text-left" style="margin-top:50px;color:#777">
      <div class="col-md-2 col-md-offset-3">广告系列媒介(utm_medium):</div>
      <div class="col-md-1">
        <select id="medium_type">
          <option value="QRcode">二维码</option>
          <option value="link">链接</option>
        </select>
      </div>
      <div class="col-md-1">
        <select id="medium_container">
          <option value=""></option>
          <option value="top">头条</option>
          <option value="second">次条</option>
          <option value="thrd">三条</option>
          <option value="forth">四条</option>
          <option value="banner">横幅</option>
          <option value="popup">弹窗</option>
          <option value="carousel">轮播图</option>
          <option value="bottom">底部</option>
          <option value="card">微信卡片</option>
          <option value="message">私信</option>
        </select>
      </div>
      <div class="col-md-1">
        <select id="medium_style">
          <option value=""></option>
          <option value="article">文章</option>
          <option value="video">视频</option>
          <option value="poster" id='poster'>海报</option>
        </select>
      </div>
    </div>
    <div class="row text-left" style="margin-top:50px;color:#777">
      <div class="col-md-2 col-md-offset-3">广告系列名称(utm_campaign):</div>
      <div class="col-md-1">
        <select id="campaign_type">
          <option value="edu">课程</option>
          <option value="ec">电商</option>
          <option value="job-company">招聘公司</option>
          <option value="job-employee">招聘个人</option>
        </select>
        <div class="row">
            <div class="col-md-offset-6">
                    <button onclick="addCompagin()" id="qwer" class='btn btn-xs btn-primary' style="margin-top:2px;margin-left:20px;">新增</button>
                </div>
            </div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control utm_params_input" id="campaign_input" placeholder='如填写多个参数请使用 - 连接'/>
      </div>
    </div>

    <div class="row text-left" style="margin-top:50px;color:#777">
      <div class="col-md-2 col-md-offset-3">广告内容(utm_content):</div>
      <div class="col-md-1">
        <select id="content_type">
          <option value="detailpage">详情页</option>
          <option value="article">文章</option>
          <option value="video">视频</option>
        </select>
        <div class="row">
          <div class="col-md-offset-6">
            <button onclick="addContent()" class='btn btn-xs btn-primary' id="contentNewAdd">新增</button>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control utm_params_input" id="content_id" placeholder="id"/>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control utm_params_input" id="content_input" placeholder='如填写多个参数请使用 - 连接'/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <button id="example_btn" class="btn btn-sm btn-primary">显示示例</button>
      </div>
    </div>

    <!--举例说明-->
    <div class="row text-left" id="utm_example" style="display:none;margin-top:30px;color:#777;font-size:12px;">
      <div class="col-md-8 col-md-offset-3">
        <p>例1: 微信消息卡片推送在圈子小程序内的文章4578，内容是【雷载兴--《电影照明技巧》套装预售】的广告</p>
        <p>utm_source: 微信消息-群聊消息, utm_media: 链接-微信卡片, utm_compaign: 课程-leizaixing, utm_content: 文章-4578</p>

        <p>例2: cinehello网站横幅上的海报二维码，推广的是【魔爪MOZA AIR三轴稳定器】(ec-769)的视频。
          要求：制作了两个海报poster1、poster2，判断两海报分别效果。</p>
        <p>utm_source: 网站-影视工业网, utm_media: 二维码-横幅-海报, utm_compaign: 电商-769, utm_content: 视频-4567-poster1/视频-4567-poster2</p>

        <p>例3: 在云犀上布置的二维码，推广的是文章4436，内容是【雷载兴--《电影照明技巧》套装预售】(edu-4348)的广告。
          要求：分上午下午两拨推送</p>
        <p>utm_source: 直播-云犀, utm_media: 二维码, utm_compaign: 课程-4348, utm_content: 文章-4436-180814AM/ 文章-4436-180814PM</p>

        <p>例4: 在圈子小程序私信推送消息链接，推广的是【魔爪MOZA AIR三轴稳定器】(ec-769)的文章。
          要求：给标签为导演和制作的用户分别推送。</p>
        <p>utm_source: 微信小程序-圈子, utm_media: 链接-私信, utm_compaign: 电商-769, utm_content: 文章-4436-director/文章-4436-cameraman</p>

        <p style="margin-top: 20px;">广告内容特定标识举例：</p>
        <p>按海报：poster1/poster521……</p>
        <p>按时间：18030213(2018年3月2日13点)/180809AM(2018年8月9 日早上)……</p>
        <p>按目标人群：allstudents(所有学员)/director(导演标签会员)/cameraman(摄影师标签会员)/producer(制片标签会员)……</p>
      </div>
    </div>
  </div>

  <%= simple_form_for @utm_url do |f| %>
    <div>

      <div class="form-group", id="utm_original_url">
        <%= f.input :original_url, label: '输入网址：', input_html: {class: "form-control"} %>
      </div>

      <div class="submit">
        <%= f.submit "提交", class: "btn btn-primary btn-lg", id: 'submit', data: {disable_with: "提交中..."}%>
      </div>

      <div class="form-group", id="utm_source">
        <%= f.input :utm_source, id: 'utm_source', label: 'utm_source：', input_html: {class: "form-control"}, readonly: true%>
      </div>

      <div class="form-group", id="utm_medium">
        <%= f.input :utm_medium, id: 'utm_medium', label: 'utm_medium：', input_html: {class: "form-control"}, readonly: true %>
      </div>

      <div class="form-group", id="utm_campaign">
        <%= f.input :utm_campaign, id: 'utm_campaign', label: 'utm_campaign：', input_html: {class: "form-control"}, readonly: true %>
      </div>

      <div class="form-group", id="utm_content">
        <%= f.input :utm_content, id: 'utm_content', label: 'utm_content：', input_html: {class: "form-control"}, readonly: true%>
      </div>

      <div class="form-group", id="source">
        <%= f.input :source, id: 'source', label: 'source：', input_html: {class: "form-control"}, readonly: true %>
      </div>

      <div class="form-group", id="sourceLinkType">
        <%= f.input :source_link_type, id: 'sourceLinkType', label: 'sourceLinkType：', input_html: {class: "form-control"}, readonly: true %>
      </div>

      <div class="form-group", id="sourceObjID">
        <%= f.input :source_obj_id, id: 'sourceObjID', label: 'sourceObjID：', input_html: {class: "form-control"}, readonly: true%>
      </div>
    </div>
  <% end %>
</div>

<script>
    var ifAddContent = false
    var isSubmit = false
    var qwer = ''
    function addCSource(){
        add_modal_btn = document.getElementById('newAdd');
        add_modal_form = document.getElementById('add_modal');
        add_modal_btn.after(add_modal_form)
        $('#add_modal').show()
        qwer = 'source'
    }
    function addContent() {
        add_modal_btn = document.getElementById('contentNewAdd');
        add_modal_form = document.getElementById('add_modal');
        add_modal_btn.after(add_modal_form)
        $('#add_modal').show()
        ifAddContent = true
        qwer = 'content'
    }
    function addCompagin () {
        add_modal_btn = document.getElementById('qwer');
        add_modal_form = document.getElementById('add_modal');
        add_modal_btn.after(add_modal_form)
        $('#add_modal').show()
        qwer = 'compagin'
    }
    function add_modal() {
        var text = $('#add_modal_sign').val()
        var sign = $('#add_modal_sign').val()
        console.log(qwer)
        if(text&&sign){
            if(qwer === 'content'){
                $('#content_type').append("<option value=" + sign + ">" + text + "</option>")
            }else if(qwer === 'compagin'){
                $('#campaign_type').append("<option value=" + sign + ">" + text + "</option>")
            }else{
                $('#source_container').append("<option value=" + sign + ">" + text + "</option>")
            }
            $('#add_modal').hide()
        }else{
            alert('添加内容不能为空')
        }
    }

    if($('#content_type').val() === 'article'||$('#content_type').val() === 'video'){
        if(!isSubmit) {
            $('#submit').attr('disabled', 'disabled')
            $('#content_id').attr('placeholder','id(必填)')
        }
    }
    $('#content_id').blur(function() {
        $(this).val() === '' ? isSubmit = false : isSubmit = true
        if($('#content_type').val() === 'article'||$('#content_type').val() === 'video'){
            if(!isSubmit) {
                $('#submit').attr('disabled', 'disabled')
                $('#content_id').attr('placeholder','id(必填)')
            }else{
                $('#submit').removeAttr('disabled', 'disabled')
                $('#content_id').attr('placeholder','id')
            }
        }else{
            $('#submit').removeAttr('disabled', 'disabled')
            $('#content_id').attr('placeholder','id')
        }
    })
    var source = new Array()
    var medium = new Array()
    var sources = ''
    var sourceLinkType = ''
    var sourceObjID = ''
    var sourceStr = ''
    var mediumStr = ''
    var campaignStr = ''
    var contentStr = ''
    var sourceInfo = [{
        text: '微信消息',
        sign: 'wechat'
    },
        {
            text: '微信小程序',
            sign: 'mina'
        },
        {
            text: '微信公众号',
            sign: 'public'
        },
        {
            text: '微信服务号',
            sign: 'service'
        },
        {
            text: '短信',
            sign: 'sms'
        },
        {
            text: '网站',
            sign: 'web'
        },
        {
            text: '第三方平台',
            sign: 'purchased'
        },
        {
            text: '直播平台',
            sign: 'live'
        }
    ]

    source['微信消息'] = new Array({
        text: '好友对话框',
        sign: 'singlemessage'
    }, {
        text: '群聊对话框',
        sign: 'groupmessage'
    }, {
        text: '朋友圈',
        sign: 'timeline'
    })
    source['微信小程序'] = new Array({
        text: '圈子',
        sign: 'circle'
    }, {
        text: '课程',
        sign: 'edu'
    }, {
        text: '圈子电商',
        sign: 'ec-cine'
    }, {
        text: 'CineHelloStore',
        sign: 'ec-CineHelloStore'
    })
    source['微信公众号'] = new Array({
        text: '影视工业网',
        sign: 'cinehello'
    }, {
        text: '课程',
        sign: 'edu'
    }, {
        text: 'homeboy',
        sign: 'homeboy'
    })
    source['微信服务号'] = new Array({
        text: '影视工业网',
        sign: 'cinehello'
    }, {
        text: '课程',
        sign: 'edu'
    }, {
        text: 'homeboy',
        sign: 'homeboy'
    })
    source['短信'] = new Array({
        text: 'sms',
        sign: 'sms'
    }, )
    source['网站'] = new Array({
        text: '影视工业网',
        sign: 'cinehello'
    }, {
        text: '课程',
        sign: 'edu'
    }, {
        text: '招聘',
        sign: 'job'
    }, {
        text: '圈子',
        sign: 'circle'
    })
    source['第三方平台'] = new Array({
        text: '广点通',
        sign: 'tsa'
    })
    source['直播平台'] = new Array({
        text: '云犀',
        sign: 'yunxi'
    })

    // source
    function loadSourceContainer() {
        var container = document.getElementById("source_container")
        var type = document.getElementById("source_type")
        var index = type.options[type.selectedIndex].text
        container.innerHTML = ""
        for (var i in source[index]) {
            var op = new Option(source[index][i].text, source[index][i].sign)
            container.add(op)
        }
        sourceStr = type.options[type.selectedIndex].value + '-' + container.options[container.selectedIndex].value
        $('#utm_url_utm_source').attr('value', sourceStr)
    }
    $(document).ready(function () {
        var type = document.getElementById("source_type")
        var container = document.getElementById("source_container")
        for (var p in source) {
            sourceInfo.map(function (item) {
                if (item.text === p) {
                    var op = new Option(p, item.sign)
                    type.add(op)
                }
            })
        }
        loadSourceContainer()
        type.onchange = function () {
            loadSourceContainer()
            if(type.options[type.selectedIndex].value==='public'||type.options[type.selectedIndex].value==='service'){
                $('#newAdd').show()
            }else{
                $('#newAdd').hide()
            }
        }
        container.onchange = function () {
            sourceStr = type.options[type.selectedIndex].value + '-' + container.options[container.selectedIndex].value
            $('#utm_url_utm_source').attr('value', sourceStr)
        }
    })
    // medium
    $(document).ready(function () {
        var type = document.getElementById("medium_type")
        var container = document.getElementById("medium_container")
        var style = document.getElementById("medium_style")

        // judge(container_value, style_value, type_value, mediumStr)
        var judge = function (value1, value2, value3, str) {
            if (!value1 && !value2) {
                str = value3
            } else if (!value1) {
                str = value2 + '-' + value3
            } else if (!value2) {
                str = value1 + '-' + value3
            } else {
                str = value1 + '-' + value2 + '-' + value3
            }
            return str
        }
        var selectIndex = function (type, container, style, index) {
            var type_value = type.options[type.selectedIndex].value
            var container_value = container.options[container.selectedIndex].value
            var style_value = style.options[style.selectedIndex].value
            return {
                type_value,
                container_value,
                style_value
            }
        }
        var type_value = type.options[type.selectedIndex].value
        type.onchange = function () {
            var {
                type_value,
                container_value,
                style_value
            } = selectIndex(type, container, style)
            if (type_value === 'link') {
                var poster = document.getElementById("poster")
                style.removeChild(poster)
                sources = "source=Link"
                $('#utm_url_source').attr('value', "source=Link")
                if (container_value) {
                    mediumStr = container_value+ '-' + type_value
                } else {
                    mediumStr = type_value
                }
                $('#utm_url_utm_medium').attr('value', mediumStr)
                return
            } else {
                var createOption = document.createElement('option')
                createOption.value = "poster"
                createOption.text = '海报'
                createOption.id = "poster"
                style.appendChild(createOption)
                sources = ''
                $('#utm_url_source').attr('value', "")
            }
            mediumStr = judge(container_value, style_value, type_value, mediumStr)
            $('#utm_url_utm_medium').attr('value', mediumStr)
        }
        container.onchange = function () {
            var {
                type_value,
                container_value,
                style_value
            } = selectIndex(type, container, style)
            mediumStr = judge(container_value, style_value, type_value, mediumStr)
            $('#utm_url_utm_medium').attr('value', mediumStr)
        }
        style.onchange = function () {
            var {
                type_value,
                container_value,
                style_value
            } = selectIndex(type, container, style)
            if (style_value === 'poster') {
                $('#utm_url_source').attr('value', "source=scanPoster")
                sources = "source=scanPoster"
            }
            mediumStr = judge(container_value, style_value, type_value, mediumStr)
            $('#utm_url_utm_medium').attr('value', mediumStr)
        }
        mediumStr = type_value
        $('#utm_url_utm_medium').attr('value', mediumStr)
    })
    // campaign
    $(document).ready(function () {
        var type = document.getElementById("campaign_type")
        var input = document.getElementById("campaign_input")
        var campaign = function (inputValue, type, campaignStr) {
            if (inputValue) {
                campaignStr = type.options[type.selectedIndex].value + '-' + inputValue
                $('#utm_url_utm_campaign').attr('value', campaignStr)
                return campaignStr
            } else {
                campaignStr = type.options[type.selectedIndex].value
                $('#utm_url_utm_campaign').attr('value', campaignStr)
                return campaignStr
            }
        }
        campaignStr = campaign(input.value, type, campaignStr)
        type.onchange = function () {
            campaignStr = campaign(input.value, type, campaignStr)
        }
        input.onchange = function () {
            campaignStr = campaign(input.value, type, campaignStr)
        }
    })
    // content
    $(document).ready(function () {
        var type = document.getElementById("content_type")
        var input = document.getElementById("content_input")
        var id = document.getElementById('content_id')
        var content = function (inputValue, type, id, contentStr) {
            var typeValue = type.options[type.selectedIndex].value
            console.log(typeValue)
            if (inputValue) {
                if(typeValue==='article'|| typeValue==='video'){
                    contentStr = typeValue + '-' + id + '-' + inputValue
                    $('#utm_url_utm_content').attr('value', contentStr)
                    $('#content_id').attr('placeholder','id(必填)')
                    return contentStr
                }else{
                    if(id){
                        contentStr = typeValue + '-' + id + '-' + inputValue
                        $('#utm_url_utm_content').attr('value', contentStr)
                        $('#content_id').attr('placeholder','id')
                        return contentStr
                    }if(!id){
                        contentStr = typeValue + '-' + inputValue
                        $('#utm_url_utm_content').attr('value', contentStr)
                        $('#content_id').attr('placeholder','id')
                        return contentStr
                    }
                }
            } else {
                if(typeValue==='article'|| typeValue==='video'){
                    contentStr = typeValue + '-' + id
                    $('#utm_url_utm_content').attr('value', contentStr)
                    $('#content_id').attr('placeholder','id(必填)')
                    return contentStr
                }else{
                    if(id){
                        contentStr = typeValue + '-' + id
                        $('#utm_url_utm_content').attr('value', contentStr)
                        $('#content_id').attr('placeholder','id')
                        return contentStr
                    }
                    if(!id){
                        contentStr = typeValue
                        $('#utm_url_utm_content').attr('value', contentStr)
                        $('#content_id').attr('placeholder','id')
                        return contentStr
                    }
                }
            }
        }
        contentStr = content(input.value, type, id.value, contentStr)
        type.onchange = function () {
            $('#utm_url_source_obj_id').attr('value', id.value)
            contentStr = content(input.value, type, id.value, contentStr)
            if (type.options[type.selectedIndex].value === 'video') {
                sourceLinkType = 'video'
                $('#utm_url_source_link_type').attr('value', 'video')
                if(!id.value){
                    $('#submit').attr('disabled', 'disabled')
                }
                $('#content_id').attr('placeholder','id(必填)')
            } else if (type.options[type.selectedIndex].value === 'article') {
                sourceLinkType = 'article'
                $('#utm_url_source_link_type').attr('value', 'article')
                if(!id.value){
                    $('#submit').attr('disabled', 'disabled')
                }
                $('#content_id').attr('placeholder','id(必填)')
            } else {
                $('#utm_url_source_link_type').attr('value', '')
                $('#submit').removeAttr('disabled', 'disabled')
                $('#content_id').attr('placeholder','id')
                $('#utm_url_source_obj_id').attr('value', '')
            }
        }
        id.onchange = function () {
            $('#utm_url_source_obj_id').attr('value', id.value)
            contentStr = content(input.value, type, id.value, contentStr)
            sourceObjID = id.value
            if(type.options[type.selectedIndex].value !== 'video' || type.options[type.selectedIndex].value !== 'article'){
                sourceObjID = ''
                $('#utm_url_source_obj_id').attr('value', sourceObjID)
            }
        }
        input.onchange = function () {
            contentStr = content(input.value, type, id.value, contentStr)
        }
    })

    var example_btn = document.getElementById("example_btn");
    var utm_example = document.getElementById("utm_example");
    var temp = 1; //0为显示
    example_btn.onclick = function () {
        if (temp == 0) { //本来是显示的，所以就隐藏咯
            utm_example.style = "display:none;margin-top:30px;color:#777;font-size:12px;";
            temp = 1;
            example_btn.innerHTML= "显示示例";
        } else {
            utm_example.style = "display:block;margin-top:30px;color:#777;font-size:12px;";
            temp = 0;
            example_btn.innerHTML= "隐藏示例";
        }
    }
</script>